.cartitems{
    margin:100px 170px;
}     

.cartitems hr{
    height: 3px;
    background: wheat;
    border: 0;
}

.cartitems-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: rgb(115, 116, 117);
    font-size: 18px;
    font-weight: 600;
    
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon{
    height: 62px;
}

.remove-cart-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
     
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid rgb(110, 93, 93);

}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     