.cds {
    padding: 20px;
    margin: 0 auto;
  }
  
  .cds h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(170, 58, 58);
  }
  
  .cds-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
  }
  
  .cds-item .item {
    flex: 0 0 calc(33.333% - 10px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .cds-item .item:hover {
    transform: scale(1.05);
  }
  
  .cds-item .item img {
    width: 300px; /* Haz que la imagen ocupe todo el espacio disponible en el contenedor */
    height: 300px; /* Haz que la imagen ocupe todo el espacio disponible en el contenedor */
    object-fit: cover; /* Ajusta el contenido para que cubra todo el espacio, manteniendo la relación de aspecto */
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .cds-item .item {
      flex: 0 0 calc(50% - 10px);
    }
  }
  