/* Navbar.css */

/* Estilos generales que se aplican a todas las pantallas */
.navbar {
  position: sticky;
  border-bottom: 1px solid rgb(230, 214, 214);
  top: 0;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 1000;
}

.logo {
  width: 50px;
  height: 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
  color: #fff0f0;
}

.logo1 {
  width: 90px;
  height: 70px;
  margin-right: 10px;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 20px;
  position: relative;
  margin-top: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #000000;
}


.nav-login-cart {
  display: flex;
  align-items: center;
}



.nav-login-cart button {
  background-color: rgb(168, 162, 162);
  color: #000000;
  border: #000000;
  padding: 10px 15px;
  margin-right: 20px;
  margin-bottom: 11px;
  cursor: pointer;
}

.nav-login-cart img {
  width: 30px;
  
}


.nav-cart-count {
  background-color: #ff3030;
  border-radius: 70%;
  padding: 3px 10px;
  font-size: 11px;
  position: absolute;
  top: 6px;
  right: 2px;
}

/* Estilos específicos para pantallas más pequeñas (ejemplo: dispositivos móviles) */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
  }

  .nav-menu {
    flex-direction: column; /* Cambia la dirección del flex a columna para los elementos del menú */
    align-items: center; /* Alinea los elementos al centro */
  }

  .nav-menu li {
    margin: 10px ; /* Ajusta el margen entre elementos del menú */
  }

  .nav-login-cart {
    margin-top: 10px; /* Ajusta el espacio entre el menú y los elementos de login/carrito */
    
  }
}
